
button:active {
    /* transition: box-shadow .0s; */
    box-shadow: 3px 3px 2px #ffffff, -1px -1px 4px #CBD2D4;
}

/* .non-functionable:active {
    transition: box-shadow .0s;
    box-shadow: 3px 3px 2px #ffffff, -1px -1px 4px #E8DCC7;
} */

.clear-button:active {
    transition: box-shadow .0s;
    box-shadow: 4px 4px 2px #ffffff, -1px -1px 4px #d18800;
}

.equal-button:active {
    transition: box-shadow .0s;
    box-shadow: 4px 4px 2px #ffffff, -1px -1px 4px var(--random-bg-color-primary-shadow);
}

.math_operation-button:active {
    transition: box-shadow .0s;
    box-shadow: 4px 4px 2px #ffffff, -1px -1px 4px var(--random-bg-color-accent-shadow);
}