@media only screen and (max-width: 450px) {
    :root {
        --button-width: 45px;
        --button-height: 35px;
    }
    .no-select {
        -webkit-tap-highlight-color: transparent;
    }
    .calc-grid {
        animation-duration: 3s;
    }
    h1 {
        margin: 40px 40px 0 40px;
    }
}
